<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>HookFlow requires camera access to digitally capture your face so you can record selfie-style videos while reading the teleprompter scripts (e.g., creating a promotional TikTok video).</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>HookFlow requires microphone access to record your voice audio while recording video, which is specifically used to generate the automatic AI captions on your final export (e.g., so viewers can read what you are saying).</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Save your finalized masterpieces straight to your Camera Roll.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Transcribe your voice into dynamic teleprompter scripts in real-time.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
    <key>UILaunchScreen</key>
    <dict>
        <key>UIColorName</key>
        <string>black</string>
    </dict>
    <key>UIUserInterfaceStyle</key>
    <string>Dark</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
</dict>
</plist>
