<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>HookFlow needs camera access so you can record videos of yourself reading the teleprompter directly within the app.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>HookFlow needs microphone access to record your voice while you speak to the camera, which is required to generate the automatic AI captions for your video.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Save your finalized masterpieces straight to your Camera Roll.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Transcribe your voice into dynamic teleprompter scripts in real-time.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
    <key>UILaunchScreen</key>
    <dict>
        <key>UIColorName</key>
        <string>black</string>
    </dict>
    <key>UIUserInterfaceStyle</key>
    <string>Dark</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
</dict>
</plist>
